@use "../variables"as variables;

@media screen and (max-width: 991px) {
    body {
        background-image: url(./assets/img/background-mobile.svg);
    }

    .container {
        max-width: 720px;
        padding-left: variables.$container-padding-mobile;
        padding-right: variables.$container-padding-mobile;
    }

    h1,
    .tabs__title {
        font-size: 28px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 24px;
    }

    .logo {
        max-width: 145px;
    }

    .header {
        margin-bottom: 0;
        padding-bottom: 0;

        .header__top {
            padding-top: 26px;
        }

        .nav {
            margin-top: 0;
            padding-bottom: 0;
        }
    }

    .nav {
        padding: 36px 0;
    }

    .tabs {
        padding: 32px 0;
    }

    .tabs__row {
        flex-direction: column;
    }

    .tabs__content {
        padding: 0;
    }

    .tabs__title {
        margin-bottom: 23px;
    }


    .text-decoration-orange {
        &:before {
            bottom: 4px;
            height: 10px;
        }
    }

    footer {
        padding: 64px variables.$container-padding-mobile 32px;

        .logo {
            margin-bottom: 17px;
        }

        .nav {
            padding: 0;
        }

        .nav-list {
            width: 188px;
            gap: 0;
            flex-direction: column;
        }

        .nav-item {
            text-align: center;
        }

        .nav-link {
            font-size: 14px;
            padding: 13.5px;
            width: 100%;
        }
    }

    .contacts__title {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .contacts__link {
        font-size: 14px;
    }
}
