@use "../variables"as variables;

@media screen and (max-width: 991px) {
    .container {
        padding-left: variables.$container-padding-mobile;
        padding-right: variables.$container-padding-mobile;
    }

    h1,
    .h1 {
        font-size: 28px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 24px;
    }

    .logo {
        max-width: 145px;
    }

    .header {
        .nav {
            margin-top: 0;
        }
    }

    .nav {
        padding: 18px 0;
    }

    footer {
        padding: 64px variables.$container-padding-mobile 32px;

        .logo {
            margin-bottom: 17px;
        }

        .nav {
            padding: 0;
        }

        .nav-list {
            width: 188px;
            gap: 0;
            flex-direction: column;
        }

        .nav-item {
            text-align: center;
        }

        .nav-link {
            font-size: 14px;
            padding: 13.5px;
            width: 100%;
        }
    }

    .contacts__title {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .contacts__link {
        font-size: 14px;
    }
}
