@use "variables"as variables;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: variables.$font-primary;
    font-size: variables.$font-size;
    line-height: variables.$line-height;
    background-color: variables.$background;
}

button {
    font-family: variables.$font-primary;
}

h1,
.h1,
h2,
.h2 {
    font-family: variables.$font-secondary;
}

h1,
.h1 {
    font-size: 44px;
}

h2,
.h2 {
    font-size: 24px;
}

ol,
ul {
    counter-reset: li;

    li {
        margin-bottom: 12px;
        color: variables.$titles;

        &:before {
            content: counter(li, decimal) ".";
            counter-increment: li;
            margin-left: 20px;
            margin-right: 20px;
            font-size: 16px;
            line-height: 30px;
            font-weight: 70x;
            color: variables.$primary-color;
        }

        &[class]:before {
            display: none;
        }
    }

    ol,
    ul {
        padding: 0 0 12px 48px;
        margin: 12px 0;

        >li {
            &:before {
                content: counter(li, lower-alpha) ")";
            }
        }
    }
}



ul {
    li {
        &:before {
            content: counter(li, disc) "";
        }
    }

    ul {
        >li:before {
            content: counter(li, circle) "";
        }
    }

}


p {
    margin-top: 0;
    margin-bottom: 16px;
}

i,
em {
    font-style: italic;
}

b,
strong {
    font-weight: 900;
}

a {
    &:hover {
        .icon {
            color: variables.$secondary-color;
        }
    }
}

button {
    font-family: variables.$font-primary;
}

.btn {
    display: inline-block;
    font-weight: 700;
    line-height: 1.5;
    color: variables.$text;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 11px 22px;
    font-size: variables.$font-size;
    border-radius: 5px;
    transition: .3s;

    &.btn_primary {
        color: #fff;
        background-color: variables.$primary-color;
        border-color: variables.$primary-color;

        &:hover {
            background-color: variables.$secondary-color;
            border-color: variables.$secondary-color;

            &:focus {
                box-shadow: 0 0 0 7px variables.$secondary-color-transparent;
            }
        }

        &:active {
            background-color: transparent;
            color: variables.$text;
        }

        &:focus {
            box-shadow: 0 0 0 5px variables.$primary-color-transparent;
        }
    }

    &:focus-visible {
        outline: none;
    }
}



.icon {
    display: inline-block;
    color: variables.$primary-color;
    transition: .3s;

    .icon__svg {
        width: variables.$icon-size;
        height: variables.$icon-size;
        vertical-align: middle;
    }
}

.svg-sprite {
    display: none;

    path {
        --inline-fill: #ffffff;
    }
}

.container {
    max-width: variables.$container-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: variables.$container-padding;
    padding-right: variables.$container-padding;
}

::selection {
    background-color: variables.$secondary-color;
    color: variables.$titles;
}
