@use "variables"as variables;

.logo {
    display: inline-block;
    max-width: 194px;
}

.header {
    padding-bottom: 24px;

    &__top {
        display: flex;
        align-items: flex-start;
        padding-top: 24px;

        .btn {
            margin-left: auto;
        }
    }

    .nav {
        margin-top: -14px;
    }
}
