@use "variables"as variables;

.tabs {
    padding: 38px 0 16px;

    &__row {
        display: flex;
        gap: 36px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__row_reverse {
        flex-direction: row-reverse;
    }

    &__pane {
        display: block;
        opacity: 0;
        transition: opacity 1.5s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        visibility: hidden;
        pointer-events: none;
    }

    &__pane_show {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        position: static;
        z-index: 1;
    }

    &__img-box {
        max-width: 461px;
        width: 100%;
    }

    &__content {
        max-width: 555px;
        width: 100%;
    }

    &__title {
        @extend %h1;
        margin-bottom: 28px;
        text-transform: capitalize;
    }
}
