<header id="header" class="header">
    <div class="container">
        <div class="header__top">
            <a href="index.html" class="logo">
               <img src="./assets/img/logo.svg" alt="logo">
            </a>
            <button type="button" class="btn btn_primary">sign up</button>
        </div>
        <nav class="nav" data-main-nav>
            <ul class="nav-list">
                <li class="nav-item"><a href="#" class="nav-link nav-link_active" aria-controls="tab1"><span>Home</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link" aria-controls="tab2"><span>About us</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link" aria-controls="tab3"><span>Services</span></a></li>
            </ul>
        </nav>
    </div>
</header>
