<section class="tabs">
    <div class="container">
        <div class="tabs__body">
            <div class="tabs__pane tabs__pane_show" id="tab1">
                <div class="tabs__row">
                    <div class="tabs__img-box">
                        <img src="./assets/img/tab-1.svg" alt="marketing-consulting">
                    </div>
                    <div class="tabs__content">
                        <h1 class="tabs__title">Lorem ipsum dolor sit amet consectetur. Mi cras <span class="text-decoration-orange">non non quis.</span></h1>
                        <p>Lorem ipsum dolor sit amet consectetur. Faucibus nunc et mattis at feugiat sagittis volutpat. At netus diam ipsum cras turpis imperdiet diam vel consequat. Ultrices in faucibus sodales sed sed. Enim aenean dignissim sed a non mollis. Sed ut arcu enim ullamcorper.</p>
                    </div>
                </div>
            </div>
            <div class="tabs__pane" id="tab2">
                <div class="tabs__row">
                    <div class="tabs__img-box">
                        <img src="./assets/img/tab-2.svg" alt="business-deal">
                    </div>
                    <div class="tabs__content">
                        <h2 class="tabs__title"><span class="text-decoration-orange">About us</span></h2>
                        <p>Lorem ipsum dolor sit amet consectetur. Vel duis nibh sodales in gravida dolor in. Elementum netus rhoncus sagittis nunc mi non egestas est. Aliquam maecenas in sed vestibulum neque feugiat pulvinar. Volutpat auctor a in sem vulputate aliquam tempor sit. Nulla urna felis penatibus ut cras sit.</p>
                    </div>
                </div>
            </div>
            <div class="tabs__pane" id="tab3">
                <div class="tabs__row tabs__row_reverse">
                    <div class="tabs__img-box">
                        <img src="./assets/img/tab-3.svg" alt="generating-new-leadsl">
                    </div>
                    <div class="tabs__content">
                        <h2 class="tabs__title"><span class="text-decoration-orange">Services</span></h2>
                        <p>Lorem ipsum dolor sit amet consectetur. Vel duis nibh sodales in gravida dolor in. Elementum netus rhoncus sagittis nunc mi non egestas est. Aliquam maecenas in sed vestibulum neque feugiat pulvinar. Volutpat auctor a in sem vulputate aliquam tempor sit. Nulla urna felis penatibus ut cras sit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
