<div class="ticker" role="region" aria-label="Ticker We buy trAffic">
    <div class="ticker__track">
        <div class="ticker__text" role="list">
            <div class="ticker__item" role="listitem">We buy trAffic</div>
        </div>
        <div class="ticker__text" role="list">
            <div class="ticker__item" role="listitem">We buy trAffic</div>
        </div>
    </div>
    <div class="ticker__track">
        <div class="ticker__text ticker__text_reverce" role="list">
            <div class="ticker__item" role="listitem">We buy trAffic</div>
        </div>
        <div class="ticker__text ticker__text_reverce" role="list" >
            <div class="ticker__item" role="listitem">We buy trAffic</div>
        </div>
    </div>
</div>
